extends ../../layouts/default.pug 
include ../../mixins/name-tree.pug

block main 
    if(role.permissions.includes("products_view"))
        if (product.title)
            h1(class="mb-4") #{product.title}

        if(category)
            if(product.product_category_id)
                div(class="mb-4") <b>Danh mục cha:</b> 
                    +name-tree(category,1,product.product_category_id)

        if (product.price)
            div(class="mb-4") Giá: <b>#{product.price}</b>

        if (product.discountPercentage)
            div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}%</b>

        if (product.stock) 
            div(class="mb-4") Còn lại: <b>#{product.stock}</b>

        if (product.thumbnail) 
            div(class="mb-4") 
                img(
                    src=product.thumbnail 
                    style="width: 100px"
                )

        if (product.status) 
            div(class="mb-4")
                //- div #{product.status}
                span Trạng thái:
                if (product.status == "active")
                    span(class="badge text-bg-success") Hoạt động
                else  
                    span(class="badge text-bg-danger") Dừng hoạt động

        if (product.position)
            div(class="mb-4") Vị trí: <b>#{product.position}</b>

        if (product.description)
            div(class="mb-4") Mô tả: !{product.description}
        if(reviews.length)
            div(class="mb-4") <b>Đánh giá sản phẩm:</b>
            div(class="rank mb-3") <b> Rank:</b> #{reviews.TBReview}
            each review in reviews
                div(class="rank-box mb-3")
                    div(class="rank-title") <b>Người đánh giá:</b> #{review.userName}
                    div(class="rank-content mb-3") !{review.reviewMessage}
                    div(class="create-date") #{review.createdAtStr}

        a(
            class="btn btn-warning"
            href=`${prefixAdmin}/products/edit/${product.id}`
        ) Chỉnh sửa

            script(src="/Admin/Js/productScript.js") 
    else 
        h1 Bạn khồng có quyền