extends ../../layouts/default.pug 


block main 
    if(records.title)
        h1(class="mb-4") #{records.title}
    if(records.thumbnail)
        div(class="mb-4") 
            img(
                src=records.thumbnail
                style="width:150px"
            )
    if(records.status)
        div(class="mb-4")
            span Trang thai: 
            if(records.status === "active")
                span(class="badge text-bg-success") Hoạt động
            else  
                span(class="badge text-bg-danger") Dừng hoạt động
    if(records.position)
        div(class="mb-4") Vị trí: <b> #{records.position}</b>
    if(records.description)
        div(class="mb-4") Mô tả: !{records.description}
    div(class="form-group")
        a(
            href=`${prefixAdmin}/products-category`
            class="btn btn-warning"
        ) Tro ve
        a(
            href=`${prefixAdmin}/products-category/edit/${records.id}`
            class="btn btn-danger btn-sm"
        ) Sua
